.menu-and-recommendations-div {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.user-menu-icon {
    width: 10px;
    height: auto;
}

.user-menu-div {
    margin-right: 30px;
}

.recommendations-div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

.user-cards-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 25px;
}

  