button.button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #2c6d9c;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    box-shadow: none;
    border: none;
    margin-top: 10px;
    font-size: 14px;
}

button.button-1:hover {
    background-color: #b6cac8;
    color: black;
    cursor: pointer;
}

button.button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: none;
    margin-bottom: 15px;
    border-style: groove;
    position: relative;
}
button.button-2 span {
    margin-left: 40px; /* Adjust based on icon size and padding */
    flex-grow: 1; /* Ensures the text takes the remaining space */
    text-align: center; /* Centers the text within its space */
}
button.button-2:hover {
    background-color: #e3e8e7;
    cursor: pointer;
}


